<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlu.webcommunity.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into user
            (name, password, role, deleted, create_time, update_time)
        values
            (#{name}, #{password}, #{role}, 0, now(), now())
    </insert>
</mapper>